<html>
<head>
<style>
    h1 { color: whitesmoke; background-color: black; font-family: 'Helvetica Neue', sans-serif; font-size: 50px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
    h2 { color: whitesmoke; background-color: black; font-family: 'Helvetica Neue', sans-serif; font-size: 25px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
    h3 { color: black; background-color: whitesmoke; font-family: 'Helvetica Neue', sans-serif; font-size: 25px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
</style>
</head>

<body>

<h1>Model Archive</h1>

  {% for date, single_date_model in topic_archive.date_model_pair %}
  <h2>{{ date|e }}</h2>
    {% for topic in single_date_model %}
    <table>
    <tr>
      {% for word in topic %}
      <td><h3>{{ word[0]|e }}</h3></td>
      {% endfor %}
    <tr>
    {% endfor %}
    </table>
  {% endfor %}
</body>
</html>