<html>
<head>
<style>
#rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#rcorners3 {
    border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 150px;
}
h1 {
    color: grey;
    font-family: 'Helvetica Neue', sans-serif; font-size: 75px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}
h2 {
    color: whitesmoke;
    background-color: black;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}
h3 {
    color: #ffffff; background-color: slategray; font-family: 'Lucida Sans', Arial, sans-serif; font-size: 16px; line-height: 26px; text-indent: 30px; margin: 0
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}
</style>
</head>

<body>
<h1>newsAggy</h1>
<center><a href="archive">Topic Model Archive</a></center>
<table>
  <tr>
    {% for topic in topics %}
    <td><a href="topic/{{ topic.id|e }}"><h2>{{ topic.description|e }}</h2></a></td>
    {% endfor %}
  </tr>
  {% for topic1_doc,topic2_doc,topic3_doc,topic4_doc,topic5_doc in items %}
  <tr>
    <td>{% if topic1_doc is not none %}<a href="{{ topic1_doc.url|e }}"><img src="{{ url_for('static', filename=topic1_doc.image|e) }}" alt="{{ topic1_doc.description|e }}" width="300" height="225" border="1"></a>{%endif %}</td>
    <td>{% if topic2_doc is not none %}<a href="{{ topic2_doc.url|e }}"><img src="{{ url_for('static', filename=topic2_doc.image|e) }}" alt="{{ topic2_doc.description|e }}" width="300" height="225" border="1"></a>{%endif %}</td>
    <td>{% if topic3_doc is not none %}<a href="{{ topic3_doc.url|e }}"><img src="{{ url_for('static', filename=topic3_doc.image|e) }}" alt="{{ topic3_doc.description|e }}" width="300" height="225" border="1"></a>{%endif %}</td>
    <td>{% if topic4_doc is not none %}<a href="{{ topic4_doc.url|e }}"><img src="{{ url_for('static', filename=topic4_doc.image|e) }}" alt="{{ topic4_doc.description|e }}" width="300" height="225" border="1"></a>{%endif %}</td>
    <td>{% if topic5_doc is not none %}<a href="{{ topic5_doc.url|e }}"><img src="{{ url_for('static', filename=topic5_doc.image|e) }}" alt="{{ topic5_doc.description|e }}" width="300" height="225" border="1"></a>{%endif %}</td>
  </tr>
  <tr>
    <td>{% if topic1_doc is not none %}<a href="{{ topic1_doc.url|e }}"><h3>{{ topic1_doc.description|e }}</h3></a>{%endif %}</td>
    <td>{% if topic2_doc is not none %}<a href="{{ topic2_doc.url|e }}"><h3>{{ topic2_doc.description|e }}</h3></a>{%endif %}</td>
    <td>{% if topic3_doc is not none %}<a href="{{ topic3_doc.url|e }}"><h3>{{ topic3_doc.description|e }}</h3></a>{%endif %}</td>
    <td>{% if topic4_doc is not none %}<a href="{{ topic4_doc.url|e }}"><h3>{{ topic4_doc.description|e }}</h3></a>{%endif %}</td>
    <td>{% if topic5_doc is not none %}<a href="{{ topic5_doc.url|e }}"><h3>{{ topic5_doc.description|e }}</h3></a>{%endif %}</td>
  </tr>
  {% endfor %}
</table>
</body>
</html>