<html>
<head>
<style>
    h1 { color: whitesmoke; background-color: black; font-family: 'Helvetica Neue', sans-serif; font-size: 50px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
    h2 { color: black; background-color: whitesmoke; font-family: 'Helvetica Neue', sans-serif; font-size: 25px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
</style>
</head>

<body>

<h1>{{ topic.description|e }}</h1>
{% for word, prob in topic.top_words %}
<h2>{{ word|e }}</h2>
{% endfor %}
</body>
</html>
